---
title: "Using an existing website as a queryable low-cost LOD publishing interface"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Brecht Van de Vyvere', 'https://brechtvdv.github.io/', 'https://w3id.org/people/brechtvdv/#me' %>
- <%= person 'Pieter Colpaert', 'https://pietercolpaert.be', 'https://pietercolpaert.be/#me' %>
- <%= person 'Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me' %>

{:#affiliations}
- {:#idlab} IDLab,
            Department of Electronics and Information Systems,
            Ghent University – imec

<section class="context" markdown="block">
## In reply to
- [The Web Conference 2019 Call for Demonstrations](https://www2019.thewebconf.org/call-for-demonstrations){:rel="as:inReplyTo"}
</section>

<%= section 'abstract' %>
</header>

<main>
  <!-- Add sections by specifying their file name, excluding the '.md' suffix. -->
  <%= section 'introduction'  %>
  <%= section 'implementation'  %>
  <%= section 'demonstrator'  %>
  <%= section 'conclusion'  %>
</main>

<footer>
</footer>
